/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/main/__primary.scss */
h1, h2, h3, h4, p, a {
  font-family: sans-serif;
}

/* line 14, ../sass/main/__primary.scss */
h1 {
  color: #225378;
  font-size: 45px;
  margin: 15px 0;
}

/* line 19, ../sass/main/__primary.scss */
h2 {
  color: #333333;
  font-size: 35px;
  margin: 15px 0;
}

/* line 24, ../sass/main/__primary.scss */
h3 {
  color: #1695a3;
  font-size: 28px;
  margin: 10px 0;
}

/* line 29, ../sass/main/__primary.scss */
h4 {
  color: #225378;
  font-size: 24px;
  margin: 10px 0;
}

/* line 34, ../sass/main/__primary.scss */
p {
  color: #333333;
  font-size: 16px;
  line-height: 22px;
}

/* line 39, ../sass/main/__primary.scss */
a {
  color: #225378;
  text-decoration: underline;
}

/* line 45, ../sass/main/__primary.scss */
a:hover {
  color: #333333;
  text-decoration: underline;
}

/* line 49, ../sass/main/__primary.scss */
a:visited {
  color: #1695a3;
  text-decoration: underline;
}

/* line 53, ../sass/main/__primary.scss */
#master-container {
  min-width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../images/lightpaperfibers.png);
}

/* line 59, ../sass/main/__primary.scss */
.titanic {
  float: none;
}

/* line 62, ../sass/main/__primary.scss */
.btn-container {
  margin-top: 15px;
}
/* line 65, ../sass/main/__primary.scss */
.btn-container .primary-btn {
  background-color: #97bd8f;
  padding: 10px 15px;
  border-radius: 5px;
}

/* line 1, ../sass/main/__header.scss */
.header {
  background-color: #225378;
  margin: 0 auto;
  height: 185px;
}

/* line 7, ../sass/main/__header.scss */
.header__topper {
  height: 125px;
}
/* line 10, ../sass/main/__header.scss */
.header__topper .header__topper__left {
  width: 230px;
  margin: 25px 40px;
  float: left;
}
/* line 15, ../sass/main/__header.scss */
.header__topper .header__topper__left .logo {
  max-width: 100%;
}

/* line 21, ../sass/main/__header.scss */
.header__nav {
  width: 100%;
  display: block;
  position: relative;
}
@media (min-width: 768px) {
  /* line 21, ../sass/main/__header.scss */
  .header__nav {
    height: 56px;
  }
}
/* line 30, ../sass/main/__header.scss */
.header__nav .nav {
  display: block;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  position: absolute;
  z-index: 99;
  background-color: #225378;
}
/* line 39, ../sass/main/__header.scss */
.header__nav .nav .menu-action {
  color: #e8e8e8;
  background-color: #1695a3;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  cursor: pointer;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  /* line 39, ../sass/main/__header.scss */
  .header__nav .nav .menu-action {
    display: none;
  }
}
/* line 53, ../sass/main/__header.scss */
.header__nav .nav .nav__item {
  width: 100%;
  background-color: #97bd8f;
  border-bottom: 5px #1695a3;
  margin-bottom: 8px;
  text-align: center;
  display: none;
}
/* line 61, ../sass/main/__header.scss */
.header__nav .nav .nav__item :hover {
  background-color: #1695a3;
  color: #e8e8e8;
  border-bottom: 5px #225378;
}
@media (min-width: 768px) {
  /* line 53, ../sass/main/__header.scss */
  .header__nav .nav .nav__item {
    width: 20%;
    float: left;
    display: block;
    margin-bottom: none;
  }
}
/* line 74, ../sass/main/__header.scss */
.header__nav .nav .nav__item .nav__dropdown {
  display: none;
  position: relative;
  z-index: 99;
}
/* line 79, ../sass/main/__header.scss */
.header__nav .nav .nav__item .nav__dropdown .dropdown__item {
  text-align: center;
  background-color: #97bd8f;
}
/* line 83, ../sass/main/__header.scss */
.header__nav .nav .nav__item .nav__dropdown .dropdown__item :hover {
  background-color: #1695a3;
  color: #e8e8e8;
}
/* line 87, ../sass/main/__header.scss */
.header__nav .nav .nav__item .nav__dropdown .dropdown__item .dropdown__link {
  padding: 20px;
  color: #225378;
  text-decoration: none;
  display: block;
}
/* line 93, ../sass/main/__header.scss */
.header__nav .nav .nav__item .nav__dropdown .dropdown__item .dropdown__link :hover {
  color: #e8e8e8;
  text-decoration: none;
}
/* line 102, ../sass/main/__header.scss */
.header__nav .nav .nav__link {
  padding: 20px 0;
  display: block;
  color: #225378;
  text-decoration: none;
}
/* line 108, ../sass/main/__header.scss */
.header__nav .nav .nav__link :hover {
  color: #e8e8e8;
  text-decoration: none;
}
/* line 112, ../sass/main/__header.scss */
.header__nav .nav .nav__link :visited {
  text-decoration: none;
}

/* line 1, ../sass/main/__body.scss */
.hero__container {
  height: auto;
}
/* line 4, ../sass/main/__body.scss */
.hero__container .hero__image {
  height: auto;
}
@media (min-width: 768px) {
  /* line 4, ../sass/main/__body.scss */
  .hero__container .hero__image {
    height: 450px;
    overflow: hidden;
    position: relative;
  }
}
@media (min-width: 1080px) {
  /* line 4, ../sass/main/__body.scss */
  .hero__container .hero__image {
    height: 550px;
    overflow: hidden;
    position: relative;
  }
}
/* line 18, ../sass/main/__body.scss */
.hero__container .hero__image img {
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  /* line 18, ../sass/main/__body.scss */
  .hero__container .hero__image img {
    position: absolute;
    image-size: cover;
  }
}

/* line 31, ../sass/main/__body.scss */
.container {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}
@media (min-width: 768px) {
  /* line 31, ../sass/main/__body.scss */
  .container {
    width: 768px;
  }
}
@media (min-width: 768px) {
  /* line 31, ../sass/main/__body.scss */
  .container {
    width: 1080px;
  }
}

/* line 43, ../sass/main/__body.scss */
.block {
  width: 100%;
  padding: 35px 25px;
  box-sizing: border-box;
  margin: 50px 0 0 0;
}

/* line 49, ../sass/main/__body.scss */
.block-grey {
  background-color: #e8e8e8;
}

/* line 52, ../sass/main/__body.scss */
.main-block {
  margin-top: 0;
}

/* line 55, ../sass/main/__body.scss */
.review-block {
  background-color: #97bd8f;
  color: #e8e8e8;
  text-align: center;
  padding: 35px 25px;
}

/* line 61, ../sass/main/__body.scss */
.block-left {
  overflow: auto;
}
@media (min-width: 768px) {
  /* line 64, ../sass/main/__body.scss */
  .block-left .block-left__content {
    float: left;
    width: 50%;
  }
}
/* line 72, ../sass/main/__body.scss */
.block-left .block-left__image {
  display: none;
}
/* line 76, ../sass/main/__body.scss */
.block-left .block-left__image img {
  max-width: 100%;
}
@media (min-width: 768px) {
  /* line 72, ../sass/main/__body.scss */
  .block-left .block-left__image {
    display: block;
    margin: 68px 0 0 30px;
    width: 45%;
    float: left;
  }
}

/* line 87, ../sass/main/__body.scss */
.block-right {
  overflow: auto;
}
/* line 90, ../sass/main/__body.scss */
.block-right .block-right__image {
  display: none;
  float: none;
}
/* line 95, ../sass/main/__body.scss */
.block-right .block-right__image img {
  max-width: 100%;
}
@media (min-width: 768px) {
  /* line 90, ../sass/main/__body.scss */
  .block-right .block-right__image {
    display: block;
    float: left;
    margin: 68px 30px 0 0;
    width: 45%;
  }
}
/* line 105, ../sass/main/__body.scss */
.block-right .block-right__content {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 105, ../sass/main/__body.scss */
  .block-right .block-right__content {
    width: 50%;
    float: left;
  }
}

/* line 4, ../sass/main/__footer.scss */
.footer__top {
  background-color: #225378;
  padding: 45px 15px;
  text-align: center;
  box-sizing: border-box;
}
/* line 10, ../sass/main/__footer.scss */
.footer__top .social {
  width: auto;
  margin: 0 auto 20px auto;
  text-align: center;
}
/* line 14, ../sass/main/__footer.scss */
.footer__top .social img {
  width: 75px;
  height: auto;
  margin: 0 15px;
}
/* line 20, ../sass/main/__footer.scss */
.footer__top p {
  color: #e8e8e8;
}
/* line 23, ../sass/main/__footer.scss */
.footer__top a {
  color: #e8e8e8;
}

/* line 27, ../sass/main/__footer.scss */
.footer__bottom {
  padding: 45px 15px;
  box-sizing: border-box;
  background-color: white;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 27, ../sass/main/__footer.scss */
  .footer__bottom {
    width: 768px;
  }
}
@media (min-width: 768px) {
  /* line 27, ../sass/main/__footer.scss */
  .footer__bottom {
    width: 1080px;
  }
}
/* line 40, ../sass/main/__footer.scss */
.footer__bottom .footer__nav {
  text-align: center;
  padding-bottom: 20px;
}
/* line 44, ../sass/main/__footer.scss */
.footer__bottom a {
  color: #225378;
  font-size: 24px;
  text-decoration: none;
  line-height: 30px;
}
/* line 51, ../sass/main/__footer.scss */
.footer__bottom a:hover {
  text-decoration: none;
  color: #333333;
}
/* line 55, ../sass/main/__footer.scss */
.footer__bottom a:visited {
  text-decoration: none;
  color: #1695a3;
}
/* line 59, ../sass/main/__footer.scss */
.footer__bottom p {
  font-size: 12px;
  line-height: 16px;
}
